  .container {
      position: relative;
      width: 400px; 
    }
    .image {
      display: block;
      width: 100%;
      height: auto;
    }
    .text-on-image {
      position: absolute;
      bottom: 20px;  
      right: 20px; 
      color: white;
      font-size: 16px;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px 15px;
      max-width: 250px;   
      font-size: 36px;
    }